---
layout: default
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Remote sensing, GIS, Geospatial Analysis, Gdal, Rasterio, Fiona, Shapefile, raster, shapely, Sentinel 2, Satellite Imagery, medium articles">
	  <title>Thai Tran - Home</title>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="/medium">Blog</a></li>
        <li><a href="/ical">Lunar Calendar</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://map.tnmthai.com" target="_blank">Satellite Imagery Maps</a></li>
        <li><a href="https://pdf.tnmthai.com" target="_blank">PDFGo</a></li>
      </ul>
      </nav>
  </head>


{% include head.html %}

{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include projects.html %}

{% include publications.html %}

{% include skills.html %}

{% include oss-contributions.html %}
</html>