<div class="remove-container container-block">
  <h2 class="container-block-title">
    About Theme
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://www.youtube.com/watch?v=Jnmj1dXDbNk">How to use?</a></li>
     <li><a class="github-button" href="https://github.com/sharu725/online-cv" data-icon="octicon-star" data-show-count="true" aria-label="Star sharu725/online-cv on GitHub">Star</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
	 
	     <a class="navbar-brand js-scroll-trigger" href="#page-bottom">
    
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ site.baseurl }}/assets/images/{{ sidebar.blood }}" alt="blood" width="180" height="180">
    </span>
  </a>
  
  </ul>
</div><!--//About-->